@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Data atual</h2>
        <p>Data do cache: <b>@ViewBag.DataAtual</b></p>
        <p>Data atual: <b>@DateTime.Now</b></p>
    </div>
</div>